{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block body %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Интернет магазин электронных товаров</h1>
        <p class="fs-5 text-muted">Низкие цены, быстрая доставка.</p>
    </div>
    <h1 class="display-4 fw-normal text-center"> Все товары </h1>
    <div class="row row-cols-sm-3">
        {% for element in products %}
            {% for elem in categories%}
                {% if element.model == elem.title %}
                    <div class="album p-5 bg-light">
                        <div class="container">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="{{ element.picture.url }}">
                                    <div class="card-body">
                                        <h3 class="card-text">{{ element.title }} {{ element.model}}</h3>
                                        <p class="card-text">{{ elem.description }}</p>
                                        <h4 class="card-text">{{ element.price }} ₴</h4>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                {% if element.stock == True %}
                                                    <button data-product="{{ element.id }}" data-model="{{ element.model }}" data-action="add" class="btn btn-sm btn-outline-secondary add-btn update-cart">В корзину</button>
                                                {% endif %}

                                                {% if element.stock == False %}
                                                    <button data-product="{{ element.id }}" data-action="add" class="btn btn-sm btn-outline-secondary add-btn update-cart disabled">В корзину</button>
                                                {% endif %}

                                            </div>
                                            <small class="text-muted">
                                                {% if element.stock == True %}
                                                    В наличии
                                                {% endif %}
                                                {% if element.stock == False %}
                                                    Нет в наличии
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% load static %}
        <script src="{% static 'js/cart.js' %}"> </script>
    </div>
{% endblock %}
